header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.sub-container{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.sub-container div{
    cursor: pointer;
}

.icon-burguer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.icon-burguer div{
    width: 20px;
    height: 1px;
    background-color: #000;
}
.container-logo{
    max-width: 90px;
}
.logo{
    width: 100%;
}


.none{
    display: none;
}
.section-search{
    flex: 1;
}
.container-search{
    display: flex;
    flex-direction: row;
    max-width: 640px;
    flex: 1;
}
.search-bar{
    display: flex;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2px;
    position: relative;
    width: 100%;
}
.input-search{
    border: 0;
    outline: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
}
.icon{
    width: 25px;
    cursor: pointer;
    position: absolute;
}
.keyword{
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}
.container-pesquisar{
    max-height: 40px;
    padding: 0 18px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc49;
    display: flex;
    align-items: center;

}
.container-pesquisar img{
    height: 25px;
}
.search-voice{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 5px;
    background-color: #dcdcdc49;
}
.search-voice:hover{
    background-color: #dcdcdc;
}
.search-voice img{
    height: 20px;
}


.container-icon-config{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.container-icon-config div{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
}
.btn-login{
    margin-inline-start: 20px;
    color: #0000ff;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    padding: 5px;
}
.icon-login{
    width: 30px;
}


