.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 64px;
    position: fixed;
    height: 100vh;
}
.item-menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}
.item-menu:hover{
    background-color: gainsboro;
}
.icon-nav-bar{
    width: 24px;
}


.container-tags{
    display: flex;
    margin-left: 100px;
    font-size: 0.9em;
    padding: 5px;
    transition: transform 1s;
 
}
.tags{
    display: flex;
    gap: 15px;
    overflow-x: hidden; /* Oculta o conteúdo que ultrapassa a largura da tela */
    transition: scroll 1s ease;
}
.arrow{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px 15px #fff;
    background-color: #fff;
    user-select: none;
    z-index: 1;
}

.arrow:hover{
    background-color: #dcdcdc;
}
.tag{
    background-color: gainsboro;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}
.selected{
    background-color: black;
    color: white;
}


.container-videos{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card-video{
    cursor: pointer;
    max-width: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.card-video:hover .duration{
    display: none;
}
.card-video:hover .more-info{
    display: flex;
}
.card-video div{
    margin: 2px;
}
.video-cover{
    width: 354px !important;
    height: 200px;
    position: relative;
}
.video-cover img{
    height: 100%;
    border-radius: 15px;
}
.duration{
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 2px 3px;
    font-size: 12px;
    border-radius: 2px;
    bottom: 10px;
    right: 6px;
}
.container-info-video{
    display: flex;
    gap: 5px;
}
.photo-cover img{
    width: 36px;
    border-radius: 50%;
}
.info-video{
    display: flex;
    flex-direction: column;
}
.title-video{
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 500;
    -webkit-line-clamp: 2;
}
.channel-name{
    color: #808080;
    margin-top: 3px;
}
.views-time{
    margin-top: 3px;
    color: #808080;
}
.more-info{
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    right: 5px;
    z-index: 2;
    display: none;
}
.more-info div{
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
    background-color: #000;
}
.flex{
    display: flex;
}
.none{
    display: none;
}