.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 64px;
    position: fixed;
    height: 100vh;
}
.item-menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}
.item-menu:hover{
    background-color: gainsboro;
}
.icon-nav-bar{
    width: 24px;
}


.container-tags{
    display: flex;
    margin-left: 100px;
    gap: 15px;
    font-size: 0.9em;
}
.tag{
    background-color: gainsboro;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.selected{
    background-color: black;
    color: white;
}