body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
}
main{
    display: flex;
    justify-self: center;
    gap: 15px;
}
.container-left{
    max-width: 1200px;
    width: 1200px;
    background-color: black;
    padding: 10px;
}
.container-video{
    background-color: red;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 800px;
}
.container-video video{
    width: 100%;
}

.views-time{
    margin-top: 3px;
    color: #808080;
}


.card-video{
    display: flex;
    cursor: pointer;
    gap: 5px;
}
.container-thumb{
    max-width: 168px;
}
.container-thumb img{
    width: 100%;
    border-radius: 5px;
}
.container-video-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div-video-infos{
    display: flex;
    flex-direction: column;
}