*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
}
main{
    display: flex;
    justify-self: center;
    gap: 15px;
    max-width: 1320px;
    width: 100%;
    padding: 20px;
}
.container-left{
    width: 100%;
}
.container-video{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.container-video:hover .video-controls,
.container-video:hover .div-progress-bar{
    display: flex;
}
.container-video video{
    max-width: 645px;
    max-height: 363px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.container-video video:focus{
    outline: 0;
}
.views-time{
    margin-top: 3px;
    color: #808080;
}

.div-float-elements{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 10px;
    padding: 10px;
    gap: 5px;
}
.div-progress-bar{
    display: none;
}
#progress-bar{
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background-color: rgb(128, 128, 128, 0.5);
    cursor: pointer; /* Cursor on hover */
    height: 4px;
}
#progress-bar:hover{
    height: 5px;
}
#progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 0px; /* Set a specific slider handle width */
    height: 0px; /* Slider handle height */
    background: #ff0000; /* Green background */
    border-radius: 50%;
    transition: 0.2s;
}
#progress-bar:hover::-webkit-slider-thumb{
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
}
.low-bar{

}
.video-controls{
    display: none;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.video-controls .div-volume{
    display: flex;
    align-items: center;
    position: relative;
}
.video-controls img, #play-button{
    width: 15px;
    cursor: pointer;
}
#volume-icon {
    display: block;
    width: 20px;
}
#bar-diagonal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(50deg);
    transform-origin: center;
    /*animation: growUp 1s forwards;*/
    pointer-events: none;
}

#radio-volume{
    -webkit-appearance: none;
    outline: none;
    background: linear-gradient(to right, #fff 50%, #ccc 50%); /* Gradiente dividido */
    height: 3px;
    width: 50px;
    cursor: pointer;
}
#radio-volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.container-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-video{
    display: flex;
    cursor: pointer;
    gap: 5px;
}
.container-thumb{
    max-width: 168px;
}
.container-thumb img{
    width: 100%;
    border-radius: 5px;
}
.container-video-info{
    display: flex;
    flex-direction: column;
}
.div-title{
    font-size: 0.8rem;
    color: #000;
}
.div-video-infos{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #808080;
}

@media screen and (max-width:1000px){
    main{
        flex-direction: column;
    }
    .container-video{
        border-radius: 0;
    }
}